body {
  background-color: rgb(167, 167, 255);
  text-align: center;
}
#start {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#start button {
  margin: 0 10vw;
}
.cell {
  background-color: aquamarine;
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 90vw;
  height: 90vw;
  margin: 0 auto;
}