body {
  background-color: rgb(167, 167, 255);
  text-align: center;
}
#start {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#start button {
  margin: 0 10vw;
}
